.no-email-warning {
  font-size: 0.6875em;
  text-align: center;

  &__text {
    $negative-margin: -5px;
    margin-left: $negative-margin;
    margin-right: $negative-margin;
    margin-bottom: 20px;

    @media (min-width: $breakpoint-large) {
      margin-bottom: 14px;
    }
  }

  &__link {
    color: $highlighted-text-color;
    text-decoration: none;
  }
}