.date-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 25px;

  font-size: 2.25rem;
  font-weight: 700;
  color: #FFFFFF;

  background-color: $orange-text-color;
  border-radius: 5px;

  &__month {
  }

  &__date {
    margin-top: -5px;

    font-size: 6rem;
    line-height: 1.15625;
  }

  &__time {
    margin-bottom: 16px;
  }

  &__webinar-link {
    padding: 8px 16px;

    font-size: 1.125rem;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;

    border-radius: 5px;
    background-color: #FFB500;
  }
}