$FONTS-PATH: '../fonts/';

$breakpoint-large: 600px;

$page-background-color: #F6F6F6;
$blocks-background-color: #FFFFFF;
$main-text-color: #141414;
$highlighted-text-color: #13D6C3;
$blue-color: #0B379B;
$orange-text-color: #FF4B33;

// $H1-FONT-SIZE-DESK: 38px;
// $H1-LINE-HEIGHT-DESK: 1.32;
// $H1-FONT-SIZE-MOBILE: 30px;
// $H1-LINE-HEIGHT-MOBILE: 1.33;

// $H2-FONT-SIZE-DESK: 30px;
// $H2-LINE-HEIGHT-DESK: 1.33;
// $H2-FONT-SIZE-MOBILE: 22px;
// $H2-LINE-HEIGHT-MOBILE: 1.41;

// $TEXT-SIZE-DESK: 16px;
// $LINE-HEIGHT-DESK: 1.5;
// $TEXT-SIZE-SPECIAL-DESK: 14px;
// $LINE-HEIGHT-SPECIAL-DESK: 1.5;

// $TEXT-SIZE-TABLET: 14px;
// $LINE-HEIGHT-TABLET: 1.5;
// $TEXT-SIZE-SPECIAL-TABLET: 14px;
// $LINE-HEIGHT-SPECIAL-TABLET: 1.5;

// $TEXT-SIZE-MOBILE: 14px;
// $LINE-HEIGHT-MOBILE: 1.5;
// $TEXT-SIZE-SPECIAL-MOBILE: 12px;
// $LINE-HEIGHT-SPECIAL-MOBILE: 1.42;