@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PT%20Root%20UI_Regular.eot");
  src: url("../fonts/PT%20Root%20UI_Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PT%20Root%20UI_Regular.woff2") format("woff2"), url("../fonts/PT%20Root%20UI_Regular.woff") format("woff"), url("../fonts/PT%20Root%20UI_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  padding-bottom: 0;
  font-family: "Trebuchet MS", sans-serif;
  color: #141414;
  background-color: #F6F6F6;
}

* {
  box-sizing: border-box;
}

ol, ul, nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.no-email-warning {
  font-size: 0.6875em;
  text-align: center;
}
.no-email-warning__text {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  .no-email-warning__text {
    margin-bottom: 14px;
  }
}
.no-email-warning__link {
  color: #13D6C3;
  text-decoration: none;
}

.invitation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 16px 0;
  background-color: #FFFFFF;
}
@media (min-width: 600px) {
  .invitation {
    display: grid;
    grid-template-columns: 1fr 352px;
    column-gap: 8px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 32px;
  }
}
.invitation__title {
  margin: 0;
  font-size: 1.75rem;
  line-height: 1.179;
  color: #0B379B;
  text-align: center;
}
@media (min-width: 600px) {
  .invitation__title {
    grid-column: 1/-1;
    font-size: 2.25rem;
    line-height: 1.1666;
  }
}
.invitation__welcome-text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875;
  color: #FF4B33;
  text-align: center;
}
@media (min-width: 600px) {
  .invitation__welcome-text {
    grid-column: 1/-1;
    margin-bottom: 24px;
    padding: 0 46px;
    font-size: 1.5rem;
    line-height: 1.1666;
  }
}
@media (min-width: 600px) {
  .invitation__welcome-text br {
    display: none;
  }
}
.invitation__date {
  align-self: stretch;
}
@media (min-width: 600px) {
  .invitation__date {
    max-width: 500px;
    margin-left: 8px;
  }
}
@media (min-width: 600px) {
  .invitation__image {
    width: 352px;
    height: 286px;
  }
}

.date-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 25px;
  font-size: 2.25rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #FF4B33;
  border-radius: 5px;
}
.date-card__date {
  margin-top: -5px;
  font-size: 6rem;
  line-height: 1.15625;
}
.date-card__time {
  margin-bottom: 16px;
}
.date-card__webinar-link {
  padding: 8px 16px;
  font-size: 1.125rem;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  background-color: #FFB500;
}

.plan {
  padding: 24px 16px;
  font-size: 1.125rem;
  line-height: 1.1666;
  color: #FFFFFF;
  background-color: #0B379B;
}
@media (min-width: 600px) {
  .plan {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.plan__description {
  margin: 0;
}
.plan__steps-title {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 1.875rem;
}
@media (min-width: 600px) {
  .plan__steps-title {
    margin-top: 32px;
  }
}
.plan__steps-list-item {
  position: relative;
  padding-left: 30px;
}
.plan__steps-list-item:not(:last-of-type) {
  margin-bottom: 16px;
}
@media (min-width: 600px) {
  .plan__steps-list-item:not(:last-of-type) {
    margin-bottom: 8px;
  }
}
.plan__steps-list-item::after {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  width: 12px;
  height: 12px;
}
.plan__steps-list-item:nth-of-type(1)::after {
  top: 7px;
  border-radius: 50%;
  background-color: #FFC81A;
}
.plan__steps-list-item:nth-of-type(2)::after {
  width: 0;
  height: 0;
  border: 6px solid #13D6C3;
  border-top: none;
  border-bottom-width: 10px;
  border-left-color: transparent;
  border-right-color: transparent;
}
.plan__steps-list-item:nth-of-type(3)::after {
  background-color: #FF4B33;
}

header {
  padding: 26px 0 10px;
  text-align: center;
  background-color: #FFFFFF;
}
@media (min-width: 600px) {
  header {
    padding-top: 32px;
  }
}