@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PT%20Root%20UI_Regular.eot");
  src: url("../fonts/PT%20Root%20UI_Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PT%20Root%20UI_Regular.woff2") format("woff2"), url("../fonts/PT%20Root%20UI_Regular.woff") format("woff"), url("../fonts/PT%20Root%20UI_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  font-family: "Trebuchet MS", sans-serif;
  color: #141414;
  background-color: #F6F6F6;
}

* {
  box-sizing: border-box;
}

ol, ul, nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.no-email-warning {
  font-size: 0.6875em;
  text-align: center;
}
.no-email-warning__text {
  margin-left: -5px;
  margin-right: -5px;
}
.no-email-warning__link {
  color: #13D6C3;
  text-decoration: none;
}

.invitation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6px 16px 0;
  background-color: #FFFFFF;
}
.invitation__title {
  margin: 0;
  font-size: 1.75rem;
  line-height: 1.179;
  color: #0B379B;
  text-align: center;
}
.invitation__welcome-text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875;
  color: #FF4B33;
  text-align: center;
}
.invitation__date {
  align-self: stretch;
  margin: 0 16px;
}
.date-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 25px;
  font-size: 2.25rem;
  line-height: 1.666;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #FF4B33;
  border-radius: 5px;
}
.date-card__date {
  font-size: 6rem;
  line-height: 1.15625;
}
.date-card__time {
  margin-bottom: 16px;
}
.date-card__webinar-link {
  padding: 8px 16px;
  font-size: 1.125rem;
  line-height: 1.1666;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  background-color: #FFB500;
}

header {
  padding: 26px 0 10px;
  text-align: center;
  background-color: #FFFFFF;
}
@media (min-width: 600px) {
  header {
    padding-top: 32px;
  }
}