@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PT%20Root%20UI_Regular.eot");
  src: url("../fonts/PT%20Root%20UI_Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PT%20Root%20UI_Regular.woff2") format("woff2"), url("../fonts/PT%20Root%20UI_Regular.woff") format("woff"), url("../fonts/PT%20Root%20UI_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  height: 100%;
  background-color: #F6F6F6;
}

* {
  box-sizing: border-box;
}

ol, ul, nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.no-email-warning {
  font-size: 0.6875em;
}